## Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Outline:

Introduction to Variables 
Declaring and Assigning Variables
Naming Conventions
Understanding Variable Types
Type Checking and Conversion
Dynamic Typing

In [1]:
a=100

In [2]:

# declaring and assigning variables
age=32
height=6.1
name="Samrat"
is_student = True

# printing the variables
print("age:",age)
print("height:",height)
print("name:",name)

age: 32
height: 6.1
name: Samrat

In [3]:
# naming conventions
# variable names should be descriptive
# they must start with a letter or an '_' and contain letters,numbes and underscores

# valid variable names
first_name ="Krish"
last_name='tamrakar'

In [ ]:
# invalid variable name
2age=19

SyntaxError: invalid decimal literal (537011963.py, line 2)

In [ ]:
# invalid variable name
first-name='samrat'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2798973284.py, line 1)

In [ ]:
# invalid variable name
@name='samrat'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2877020756.py, line 1)

In [13]:
# case sensitivity
name='Sam'
Name='Samrat'
print(name)
print(Name)

Sam
Samrat

In [14]:
# understanding variable types
# python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height = 6.1 #float
name = 'samrat' #string
is_student = True #bool

print(type(name))

<class 'str'>

In [15]:
# type checking and conversion
type(height)

float

In [16]:
age = 25
print(type(age))
# type converison
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [17]:
age = '25'
print(type(int(age)))

<class 'int'>

In [18]:
# cant convert str to int
name='samrat'
int(name)

ValueError: invalid literal for int() with base 10: 'samrat'

In [19]:
height = 5.11
type(height)

float

In [20]:
float(int(height))

5.0

In [22]:
# Dynamic typing
# python alllows the type of a variable to change as the program executes
var=10 #int
print(var,type(var))

var='Hello'
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
# input

age=input("what is the age") #takes str input
print(age,type(age))

19 <class 'str'>

In [27]:
# input

age=int(input("what is the age")) #takes integer
print(age,type(age))

19 <class 'int'>

In [28]:
## Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  33.0
Difference:  -9.0
Product:  252.0
Quotient:  0.5714285714285714