## DataTypes
## 1. Definition:
Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

# 2. Importance of Data Types in Programming

## Explanation:
- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

## Outline:
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types (not covered in this file)
   - Lists
   - Tuples
   - Sets
   - Dictionaries

5. Type Conversion
6. Practical Examples (not covered in this file)

In [1]:
#  Integers Example
age = 35
type(age)

int

In [2]:
# floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
# string datatype example
name='Samrat'
print(name)
print(type(name))

Samrat
<class 'str'>

In [4]:
# boolean datatype
is_true=True
type(is_true)

bool

In [7]:
""" bool(0) → False
bool("") → False
bool([]) → False
bool(None) → False   """
bool()

False

In [8]:
a=10
b=10
type(a==b)

bool

In [9]:
# Common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# solution (explicit conversion)
result = "hello" + str(5)
print(result)

hello5

# Type Conversion Basics

There are two main types of conversion:

- **Implicit Conversion** – done automatically by Python.
- **Explicit Conversion** – done manually by the programmer.

In [11]:

# Python automatically converts one data type to another when it makes sense.

x = 5       # int
y = 2.0     # float
result = x + y  # int + float = float
print(result)       
print(type(result))

7.0
<class 'float'>

# 2. Explicit Conversion

You tell Python to change the type using built-in functions:

| Function | Converts to... |
|----------|----------------|
| int()    | Integer        |
| float()  | Floating-point |
| str()    | String         |
| bool()   | Boolean        |

In [12]:
num_str = "10"
num_int = int(num_str)
print(num_int + 5)

15

In [ ]:
price = 9.99
rounded = int(price)
print(rounded)  #(it **truncates**, doesn't round)
# Truncate means to cut off the decimal part of a number, leaving only the integer portion.

9

In [15]:
age = 30
text = "You are " + str(age) + " years old."
print(text)

You are 30 years old.

In [ ]:
# 0, "", None, [], {} → False
# Everything else → True
print(bool(0))       # False
print(bool(1))       # True
print(bool(""))      # False
print(bool("hello")) # True

False
True
False
True

In [ ]:
#  error
int("abc")  # ❌ Error!
float("hello")  # ❌ Error!

ValueError: invalid literal for int() with base 10: 'abc'